server:
  port: 8888

spring:
  profiles:
    active: native
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations
logging:
  level:
    org.springframework.cloud.config: DEBUG
    org.springframework.boot.env: DEBUG